openapi: 3.0.0
info:
  title: TourHunter API Documentation
  description: >
    TourHunter API Documentation.


    Make sure you authorized to use API (take a look on Authorization section).


    All requests must have header "X-Active-Company-Id" with working company id.
    List of available companies for authorized user can be requested via
    "/companies/"


    Make sure you are using "Content-Type: application/json" in POST requests with raw body
  version: '1.0'
servers:
  - url: 'https://pro.tourhunter.com/api/'
tags:
  - name: Authorization
    description: >
      Endpoints for user authorization.


      Also, available authorization by basic HTTP authentication token. Token
      expected in the header "HTTP_X_API_AUTHORIZATION" in the form of "Basic <
      credentials >", where 'credentials' is the base64 encoding of id and
      password joined by a single colon ':'. This method must be used for
      external API request.
  - name: Companies
  - name: Rate Requests
  - name: Company. Areas
  - name: Company. Hotels
  - name: Top Menu. Bookings
  - name: Top Menu. Bookings. Sessions
  - name: Top Menu. Bookings. Session Blocks
  - name: Tour Setup. Step General
  - name: Tour Setup. Step Tour Options
  - name: Tour Setup. Step People & Price
  - name: Tour Setup. Step Payment & Deposit
  - name: Reports
    description: Common endpoints for reports page
  - name: Reports - Views
    description: Endpoints for report views on reports page
  - name: Statictics
    description: Common endpoints for statistics page
  - name: Charts
    description: Common endpoints for charts page
  - name: Booking
  - name: Booking. Settings
  - name: Booking View
  - name: Calendar. Session messages
  - name: Employees
  - name: Employees. Documents
  - name: Invoices
  - name: Invoice
  - name: Invoice. Payments
  - name: Customer
  - name: Checkout
  - name: My Companies
  - name: Transfer View
paths:
  /signup:
    post:
      tags:
        - Authorization
      summary: User signup
      operationId: signup
      requestBody:
        description: Expecting user credentials
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: User email
                password:
                  type: string
                  description: User password
                repassword:
                  type: string
                  description: User password
                captcha:
                  type: string
                  description: Google captcha result
                returnUrl:
                  type: string
                  description: Desired url to redirect after login
                time_zone:
                  type: string
                  description: User time zone
              required:
                - email
                - password
                - repassword
                - captcha
      responses:
        '200':
          description: Signup form model
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                    description: User email
                  password:
                    type: string
                    description: User password
                  repassword:
                    type: string
                    description: User password
                  time_zone:
                    type: string
                    description: User time zone
                  captcha:
                    type: string
                    description: Google captcha result
                  signedUp:
                    type: boolean
                    description: Whether signup finished or not
                  redirectUrl:
                    type: string
                    description: Exist when signedUp = true. Url to redirect after signup
        '422':
          description: >-
            Signup form model with errors. Content the same as for response code
            200 whith additional field $errors
          content:
            application/json:
              schema:
                type: object
                properties:
                  $errors:
                    type: object
                    description: List of errors
                example:
                  $errors:
                    password:
                      - Password should contain at least 6 characters.
  /login:
    post:
      tags:
        - Authorization
      summary: User login as system user or agent (on WL)
      operationId: login
      requestBody:
        description: Expecting user credentials
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                login:
                  type: string
                  description: User email or agent code
                password:
                  type: string
                  description: User or agent password
                returnUrl:
                  type: string
                  description: Desired url to redirect after login
              required:
                - login
              example:
                login: admin@localhost.com
                password: 123
      responses:
        '200':
          description: Login form model
          content:
            application/json:
              schema:
                type: object
                properties:
                  login:
                    type: string
                    description: User email or agent code
                  password:
                    type: string
                    description: User or agent password
                  loggedIn:
                    type: boolean
                    description: Whether login finished or not
                  redirectUrl:
                    type: string
                    description: Exist when loggedIn = true. Url to redirect after login
              example:
                login: admin@localhost.com
                password: 123
                loggedIn: true
                redirectUrl: /activity
        '422':
          description: >-
            Login form model with errors. Content the same as for response code
            200 whith additional field $errors
          content:
            application/json:
              schema:
                type: object
                properties:
                  $errors:
                    type: object
                    description: List of errors
                example:
                  $errors:
                    login:
                      - Login and password don't match
                    password:
                      - Login and password don't match
  /logout:
    get:
      tags:
        - Authorization
      summary: Logout user
      operationId: logout
      responses:
        '200':
          description: Operation result
          content:
            application/json:
              schema:
                type: boolean
                description: Whether operation successful or not
              example: true
  /companies/:
    get:
      tags:
        - Companies
      summary: Get companies list available for user to use
      operationId: getAvailableCompaniesList
      responses:
        '200':
          description: Available companies list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailableCompanyData'
  /rate-requests/set-status:
    post:
      tags:
        - Rate Requests
      summary: Rate request by date/tour status changing
      operationId: setRateRequestByDateStatus
      requestBody:
        description: Expecting new status value and rate request id
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                modelId:
                  type: integer
                  description: Rate request id to work with
                status:
                  type: integer
                  description: 'Status to set (0 - active, 1 - declined)'
              required:
                - modelId
                - status
              example:
                modelId: 15
                status: 1
      responses:
        '200':
          description: Operation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether operation successful or not
                  error:
                    type: string
                    description: Error text. Added if unable to change status.
              example:
                success: true
  /company/areas:
    get:
      tags:
        - Company. Areas
      summary: Paginated list of current company areas
      operationId: getCompanyAreas
      parameters:
        - name: page
          in: query
          description: page to get
          schema:
            type: integer
        - name: sort
          in: query
          description: result sorting
          schema:
            type: string
      responses:
        '200':
          description: Paginated areas list
          headers:
            X-Pagination-Current-Page:
              schema:
                type: integer
              description: Current page number. Starts from 1.
            X-Pagination-Page-Count:
              schema:
                type: integer
              description: Total pages count.
            X-Pagination-Per-Page:
              schema:
                type: integer
              description: Items count per page.
            X-Pagination-Total-Count:
              schema:
                type: integer
              description: Total items count.
        '400':
          description: When current company not found
    post:
      tags:
        - Company. Areas
      summary: Creaete new area for current company
      operationId: createCompanyArea
      requestBody:
        description: Expecting area attributes
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Area name
              required:
                - name
      responses:
        '200':
          description: Created model or validated model with errors
    delete:
      tags:
        - Company. Areas
      summary: Delete company areas
      operationId: deleteCompanyAreas
      description: Deleted list of company areas
      parameters:
        - name: ids
          in: query
          description: array of ids to delete
          schema:
            type: array
            items:
              type: integer
      responses:
        '200':
          description: Deletion result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether operation successfull or not.
                  error:
                    type: string
                    description: >-
                      Error description with HTML tags. Can be absent if
                      operation successfull.
                required:
                  - success
              example:
                sucess: true
        '404':
          description: When some area not found
  '/company/areas/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: Area id
        schema:
          type: integer
    get:
      tags:
        - Company. Areas
      summary: View company area
      operationId: getCompanyArea
      responses:
        '200':
          description: Area model
        '404':
          description: When area not found
    put:
      tags:
        - Company. Areas
      summary: Update company area
      operationId: updateCompanyArea
      requestBody:
        description: Expecting area attributes
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: Area id
                name:
                  type: string
                  description: Area name
              required:
                - id
                - name
      responses:
        '200':
          description: Updated model or validated model with errors
        '404':
          description: When area not found
    delete:
      tags:
        - Company. Areas
      summary: Delete company area
      operationId: deleteCompanyArea
      description: Deleted single company area
      responses:
        '200':
          description: Deletion result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether operation successfull or not.
                  error:
                    type: string
                    description: Error description with HTML tags.
                required:
                  - success
              example:
                sucess: true
        '404':
          description: When area not found
  /company/areas/merge:
    post:
      tags:
        - Company. Areas
      summary: Areas merge
      operationId: mergeCompanyAreas
      requestBody:
        description: Expecting list of area ids to merge.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                areas:
                  type: array
                  description: Array of area ids
                  items:
                    type: integer
              required:
                - areas
              example:
                - 5
                - 8
      responses:
        '200':
          description: Successful merge
        '422':
          description: Merge failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error description with HTML tags.
                required:
                  - message
              example:
                message: You need to select at least two location to merge
  /company/hotels:
    get:
      tags:
        - Company. Hotels
      summary: Paginated list of current company locations
      operationId: getCompanyHotels
      parameters:
        - name: search
          in: query
          description: text to search in location name
          schema:
            type: string
        - name: area
          in: query
          description: text to search in location ares name
          schema:
            type: string
        - name: page
          in: query
          description: page to get
          schema:
            type: integer
        - name: sort
          in: query
          description: result sorting
          schema:
            type: string
      responses:
        '200':
          description: Paginated locations list
          headers:
            X-Pagination-Current-Page:
              schema:
                type: integer
              description: Current page number. Starts from 1.
            X-Pagination-Page-Count:
              schema:
                type: integer
              description: Total pages count.
            X-Pagination-Per-Page:
              schema:
                type: integer
              description: Items count per page.
            X-Pagination-Total-Count:
              schema:
                type: integer
              description: Total items count.
        '400':
          description: When current company not found
    post:
      tags:
        - Company. Hotels
      summary: Creaete new location for current company
      operationId: createCompanyHotel
      requestBody:
        description: Expecting location attributes
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lat:
                  type: string
                  description: location latitude
                lon:
                  type: string
                  description: Location longtitude
                area_id:
                  type: integer
                  description: Location area id
                name:
                  type: string
                  description: Location name
                address:
                  type: string
                  description: Location address
              required:
                - name
                - area_id
      responses:
        '200':
          description: Created model or validated model with errors
    delete:
      tags:
        - Company. Hotels
      summary: Delete company locations
      operationId: deleteCompanyHotels
      description: Deleted list of company locations
      parameters:
        - name: ids
          in: query
          description: array of ids to delete
          schema:
            type: array
            items:
              type: integer
      responses:
        '200':
          description: Deletion result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether operation successfull or not.
                  error:
                    type: string
                    description: >-
                      Error description with HTML tags. Can be absent if
                      operation successfull.
                required:
                  - success
              example:
                sucess: true
        '404':
          description: When some location not found
  '/company/hotels/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: Location id
        schema:
          type: integer
    get:
      tags:
        - Company. Hotels
      summary: View company location
      operationId: getCompanyHotel
      responses:
        '200':
          description: Locations model
        '404':
          description: When location not found
    put:
      tags:
        - Company. Hotels
      summary: Update company location
      operationId: updateCompanyHotel
      requestBody:
        description: Expecting location attributes
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lat:
                  type: string
                  description: location latitude
                lon:
                  type: string
                  description: Location longtitude
                area_id:
                  type: integer
                  description: Location area id
                name:
                  type: string
                  description: Location name
                address:
                  type: string
                  description: Location address
              required:
                - name
                - area_id
      responses:
        '200':
          description: Updated model or validated model with errors
        '404':
          description: When location not found
    delete:
      tags:
        - Company. Hotels
      summary: Delete company location
      operationId: deleteCompanyHotel
      description: Deleted single company location
      responses:
        '200':
          description: Deletion result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether operation successfull or not.
                  error:
                    type: string
                    description: Error description with HTML tags.
                required:
                  - success
              example:
                sucess: true
        '404':
          description: When location not found
  /company/hotels/merge:
    post:
      tags:
        - Company. Hotels
      summary: Hotels merge
      operationId: mergeCompanyHotels
      requestBody:
        description: Expecting list of location ids to merge.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                buildings:
                  type: array
                  description: Array of location ids
                  items:
                    type: integer
              required:
                - buildings
              example:
                - 7
                - 34
      responses:
        '200':
          description: Successful merge
        '422':
          description: Merge failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error description with HTML tags.
                required:
                  - message
              example:
                message: You need to select at least two location to merge
  /bookings/statuses:
    post:
      tags:
        - Top Menu. Bookings
      summary: Booking statuses changing
      operationId: setBookingStatuses
      requestBody:
        description: Expecting list of new statuses and booking ids to change
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bookingIds:
                  type: array
                  description: List of booking ids to change
                  items:
                    type: string
                bookingStatus:
                  type: integer
                  description: Booking status to set
                transferStatus:
                  type: integer
                  description: Transfer status to set
                checkinStatus:
                  type: integer
                  description: Checkin status to set
              required:
                - bookingIds
              example:
                bookingIds:
                  - 3K8W0Z2C2R
                bookingStatus: 1
                transferStatus: 0
                checkinStatus: 0
      responses:
        '200':
          description: >-
            Operation result. Empty if no errors and processing more than one
            booking.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Error text with booking ids. Added if unable to change
                      booking status from Canceled.
                  resultText:
                    type: string
                    description: >-
                      Operation result description. Added if booking status
                      changed to Confirmed and only one booking was sent to
                      process.
              example: {}
  /calendar/set-booking-position:
    post:
      tags:
        - Top Menu. Bookings
      summary: Booking position changing
      operationId: setBookingPosition
      requestBody:
        description: Expecting booking id and new position to set
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bookingId:
                  type: string
                  description: Booking id
                position:
                  type: integer
                  description: New position
              required:
                - bookingId
                - position
              example:
                bookingId: 3K8W0Z2C2R
                position: 3
      responses:
        '200':
          description: Operation result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether operation successful or not.
              example:
                success: true
        '404':
          description: If booking not found
  '/sessions/{scheduleId}':
    delete:
      tags:
        - Top Menu. Bookings. Sessions
      summary: Booking session canceling
      operationId: cancelBookingSession
      parameters:
        - name: scheduleId
          in: path
          description: Schedule ID
          required: true
          schema:
            type: integer
        - name: date
          in: query
          description: 'Date in format "Y-m-d", like "2019-03-27"'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returned if no errors happen
          content:
            application/json:
              schema:
                type: object
        '404':
          description: If schedule not found
  '/sessions/{scheduleId}/restore':
    get:
      tags:
        - Top Menu. Bookings. Sessions
      summary: Booking session restoring
      operationId: restoreBookingSession
      parameters:
        - name: scheduleId
          in: path
          description: Schedule ID
          required: true
          schema:
            type: integer
        - name: date
          in: query
          description: 'Date in format "Y-m-d", like "2019-03-27"'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returned if no errors happen
          content:
            application/json:
              schema:
                type: object
        '404':
          description: If schedule not found
  /calendar/sessions/blocks:
    get:
      tags:
        - Top Menu. Bookings. Session Blocks
      summary: Booking session blocks list
      operationId: getBookingSessionBlocksList
      parameters:
        - name: scheduleId
          in: query
          description: Schedule ID
          required: true
          schema:
            type: integer
        - name: date
          in: query
          description: 'Date in format "Y-m-d", like "2019-03-27"'
          required: true
          schema:
            type: string
        - name: optionId
          in: query
          description: Schedule Price group ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Return blocks list and modal form configs
          content:
            application/json:
              schema:
                type: object
                properties:
                  blocks:
                    type: array
                    items:
                      type: object
                      description: Session block model
                  canModify:
                    type: boolean
                    description: Whether editing available or not
        '404':
          description: If target session not found
  /company/tour-category:
    post:
      tags:
        - Tour Setup. Step General
      summary: Add new category
      description: Created category must be added at the end of categories list on frontend
      operationId: addTourCategory
      requestBody:
        description: Expecting object with `tour_id` and `names` fields
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tour_id:
                  type: string
                  description: 'Current tour id, empty for new tour'
                names:
                  type: array
                  description: List of names to add
                  items:
                    type: object
                    properties:
                      is_default:
                        type: integer
                        description: '1 for last added/edited name, 0 for other names'
                        enum:
                          - 0
                          - 1
                      language_id:
                        type: string
                        description: Language ID
                      name:
                        type: string
                        description: Name for selected language
              required:
                - tour_id
                - names
              example:
                tour_id: 3D3B4S5C7V
                names:
                  - is_default: 1
                    language_id: ru-RU
                    name: Category
      responses:
        '200':
          description: Created tour category
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: New category id
                  name:
                    type: string
                    description: >-
                      Name on site language (if exists, on default language in
                      other way)
                  names:
                    type: array
                    description: 'List of added names, same as in request, with ids'
                    items:
                      type: object
                      properties:
                        is_default:
                          type: integer
                          description: '1 for last added/edited name, 0 for other names'
                          enum:
                            - 0
                            - 1
                        language_id:
                          type: string
                          description: Language ID
                        name:
                          type: string
                          description: Name for selected language
              example:
                id: 15
                name: Category
                names:
                  - id: 35
                    is_default: 1
                    language_id: ru-RU
                    name: Category
  '/tour-setup/{tourId}>/tour-option':
    post:
      tags:
        - Tour Setup. Step Tour Options
      summary: Validate tour option names
      description: Validate tour option names
      operationId: tourPriceGroupValidate
      parameters:
        - name: tourId
          in: path
          description: Tour ID
          required: true
          schema:
            type: string
      requestBody:
        description: Expecting object current tour model and option names to validate
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tour:
                  type: object
                  description: Current tour model
                validateOption:
                  type: object
                  properties:
                    optionIndex:
                      type: integer
                      description: >-
                        Option index to validate from tour model. Must be
                        skeeped for new option validation.
                    names:
                      type: array
                      description: List of added names
                      items:
                        type: object
                        properties:
                          is_default:
                            type: integer
                            description: '1 for last added/edited name, 0 for other names'
                            enum:
                              - 0
                              - 1
                          language_id:
                            type: string
                            description: Language ID
                          name:
                            type: string
                            description: Option name for selected language
              required:
                - tour
                - validateOption
              example:
                tour: {}
                validateOption:
                  optionIndex: 1
                  names:
                    - is_default: 1
                      language_id: en-US
                      name: Tour option
      responses:
        '200':
          description: Validated tour option with errors
          content:
            application/json:
              schema:
                type: object
                properties:
                  options:
                    type: array
                    description: >-
                      Updated list of tour options for replacing in current tour
                      model
                    items:
                      $ref: '#/components/schemas/TourOptionModel'
                  validatedOption:
                    $ref: '#/components/schemas/TourOptionModelWithErrors'
  '/tour-setup/{tourId}>/tour-option-deletion':
    post:
      tags:
        - Tour Setup. Step Tour Options
      summary: Validate tour option deletion
      description: Validate tour option deletion
      operationId: tourPriceGroupValidateDeletion
      parameters:
        - name: tourId
          in: path
          description: Tour ID
          required: true
          schema:
            type: string
      requestBody:
        description: Expecting current tour model and option index to validate
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tour:
                  type: object
                  description: Current tour model
                optionIndexToDelete:
                  type: integer
                  description: Option index to check deletion.
              required:
                - tour
                - optionIndexToDelete
      responses:
        '200':
          description: When deletion available
        '422':
          description: When deletion unavailable
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error text
  '/tour-setup/{tourId}>/clone-option-names':
    post:
      tags:
        - Tour Setup. Step Tour Options
      summary: Cloning tour option names
      description: Cloning tour option names
      operationId: tourPriceGroupCloning
      parameters:
        - name: tourId
          in: path
          description: Tour ID
          required: true
          schema:
            type: string
      requestBody:
        description: Expecting object current tour model and option index to clone
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tour:
                  type: object
                  description: Current tour model
                optionIndexToClone:
                  type: integer
                  format: int64
              required:
                - tour
                - optionIndexToClone
              example:
                tour: {}
                optionIndexToClone: 1
      responses:
        '200':
          description: New list of tour options with cloned tour option
          content:
            application/json:
              schema:
                type: array
                description: >-
                  Updated list of tour options for replacing in current tour
                  model
                items:
                  $ref: '#/components/schemas/TourOptionModel'
              example:
                - id: 8
                  publish_on: 1
                  canDelete: true
                  clonePriceGroupId: null
                  sort_order: 0
                  setAsDefault: false
                  names:
                    - id: 7
                      is_default: 1
                      language_id: en-US
                      name: First option
                - id: 9
                  publish_on: 1
                  canDelete: true
                  clonePriceGroupId: null
                  sort_order: 1
                  setAsDefault: false
                  names:
                    - id: 67
                      is_default: 1
                      language_id: en-US
                      name: Second option
                - id: null
                  publish_on: 1
                  canDelete: true
                  clonePriceGroupId: null
                  sort_order: 0
                  setAsDefault: false
                  names:
                    - id: null
                      is_default: 1
                      language_id: en-US
                      name: Copy of Second option
  /company/customer-groups:
    get:
      tags:
        - Tour Setup. Step People & Price
      summary: List of customer groups
      operationId: getCustomerGroupsList
      responses:
        '200':
          description: List of customer groups
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    is_occupies:
                      type: integer
                    is_system:
                      type: integer
                    age_from:
                      type: integer
                    age_to:
                      type: integer
                    canDelete:
                      type: boolean
                    name:
                      type: string
    post:
      tags:
        - Tour Setup. Step People & Price
      summary: Create customer group
      operationId: createCustomerGroup
      responses:
        '200':
          description: New customer group
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    is_occupies:
                      type: integer
                    is_system:
                      type: integer
                    age_from:
                      type: integer
                    age_to:
                      type: integer
                    canDelete:
                      type: boolean
                    name:
                      type: string
        '422':
          description: Model with validation errors
  '/company/customer-groups/{id}':
    parameters:
      - name: id
        in: path
        description: Customer group ID
        required: true
        schema:
          type: integer
    get:
      tags:
        - Tour Setup. Step People & Price
      summary: Single customer group
      operationId: getCustomerGroup
      responses:
        '200':
          description: Customer group model
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    is_occupies:
                      type: integer
                    is_system:
                      type: integer
                    age_from:
                      type: integer
                    age_to:
                      type: integer
                    canDelete:
                      type: boolean
                    name:
                      type: string
        '404':
          description: Customer group not found
    put:
      tags:
        - Tour Setup. Step People & Price
      summary: Update customer group
      operationId: updateCustomerGroup
      responses:
        '200':
          description: Updated customer group
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    is_occupies:
                      type: integer
                    is_system:
                      type: integer
                    age_from:
                      type: integer
                    age_to:
                      type: integer
                    canDelete:
                      type: boolean
                    name:
                      type: string
        '404':
          description: Customer group not found
        '422':
          description: Model with validation errors
    delete:
      tags:
        - Tour Setup. Step People & Price
      summary: Delete customer group
      operationId: deleteCustomerGroup
      responses:
        '204':
          description: Successful customer group deletion
        '404':
          description: Customer group not found
  /company/toursetup/fees-taxes:
    get:
      tags:
        - Tour Setup. Step People & Price
      summary: Current company fees and taxes list
      operationId: getFeesTaxesList
      responses:
        '200':
          description: Fees and taxes list
          content:
            application/json:
              schema:
                type: object
                properties:
                  fees:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        included:
                          type: boolean
                        applyTo:
                          type: string
                        amountByCategories:
                          type: array
                          description: For fee per person
                          items:
                            type: object
                            properties:
                              category_id:
                                type: integer
                              name:
                                type: string
                              amount:
                                type: string
                              type:
                                type: integer
                        amountByGroup:
                          type: string
                          description: For fee per group
                        amountByGroupType:
                          type: integer
                          description: For fee per group
                  taxes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        amount:
                          type: string
                        amountType:
                          type: integer
                        included:
                          type: boolean
                        compound:
                          type: boolean
  '/tour-setup/{id}>/tour-option-dynamic-price':
    parameters:
      - name: id
        in: path
        description: Tour ID
        required: true
        schema:
          type: string
    post:
      tags:
        - Tour Setup. Step People & Price
      summary: Dynamic price validation
      operationId: validateDynamicPrice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tour:
                  type: object
                  description: Current tour model
                validatePrice:
                  type: object
                  properties:
                    optionIndex:
                      type: integer
                      description: Key must be specified for already added price.
                    price:
                      $ref: '#/components/schemas/DynamicPrice'
      responses:
        '200':
          description: Fees and taxes list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DynamicPrice'
        '422':
          description: Price model with validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DynamicPrice'
  '/tour-setup/{id}>/tour-option-participants':
    parameters:
      - name: id
        in: path
        description: Tour ID
        required: true
        schema:
          type: string
    post:
      tags:
        - Tour Setup. Step People & Price
      summary: Participants validation
      operationId: validateParticipants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                min:
                  type: integer
                priceGroupId:
                  type: integer
                pricesList:
                  type: array
                  description: List of participant categories to validate
                  items:
                    type: object
                specialPrices:
                  type: array
                  description: List of dynamic prices from tour model
                  items:
                    type: object
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  min:
                    type: integer
                  pricesList:
                    type: array
                    description: Validated list of participant categories
                    items:
                      type: object
                  specialPrices:
                    type: array
                    description: List of dynamic prices for replacing in tour model
                    items:
                      type: object
        '422':
          description: Participant models with validation errors
  /tour-setup/cancellation/select-list:
    get:
      tags:
        - Tour Setup. Step Payment & Deposit
      summary: List of company cancellations
      operationId: getCompanyCancellations
      responses:
        '200':
          description: List of cancellations
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    key:
                      type: string
                    cancellation:
                      $ref: '#/components/schemas/Cancellation'
  /tour-setup/cancellation:
    get:
      tags:
        - Tour Setup. Step Payment & Deposit
      summary: Get new cancellation model
      operationId: getNewCustomCancellation
      responses:
        '200':
          description: New custom cancellation model
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cancellation'
    post:
      tags:
        - Tour Setup. Step Payment & Deposit
      summary: Create customer group
      operationId: createCustomCancellation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cancellation'
      responses:
        '200':
          description: New custom cancellation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cancellation'
        '422':
          description: Model with validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cancellation'
  '/tour-setup/cancellation/{id}':
    parameters:
      - name: id
        in: path
        description: Custom cancellation ID
        required: true
        schema:
          type: integer
    get:
      tags:
        - Tour Setup. Step Payment & Deposit
      summary: Get single custom cancellation
      operationId: getCustomCancellation
      responses:
        '200':
          description: Customer group model
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cancellation'
        '404':
          description: Custom cancellation not found
    put:
      tags:
        - Tour Setup. Step Payment & Deposit
      summary: Update custom cancellation
      operationId: updateCustomCancellation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cancellation'
      responses:
        '200':
          description: Updated custom cancellation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cancellation'
        '404':
          description: Custom cancellation not found
        '422':
          description: Model with validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cancellation'
    delete:
      tags:
        - Tour Setup. Step Payment & Deposit
      summary: Delete custom cancellation
      operationId: deleteCustomCancellation
      responses:
        '204':
          description: Successful custom cancellation deletion
        '404':
          description: Custom cancellation not found
  /reports/views:
    get:
      tags:
        - Reports - Views
      summary: List of existing views for active company
      description: ''
      operationId: listViews
      responses:
        '200':
          description: List of views.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportViewList'
        '404':
          description: Active company not found
    post:
      tags:
        - Reports - Views
      summary: Create new View
      operationId: createView
      requestBody:
        description: Expecting object with `name` field
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
              example:
                name: Some custom view
      responses:
        '200':
          description: Created View model
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportView'
        '404':
          description: Active company not found
  '/reports/views/{viewId}':
    get:
      tags:
        - Reports - Views
      summary: Get view by ID
      operationId: getView
      parameters:
        - name: viewId
          in: path
          description: View ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: View model
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportView'
        '404':
          description: Active company or View not found
    put:
      tags:
        - Reports - Views
      summary: Update view by ID
      operationId: updateView
      parameters:
        - name: viewId
          in: path
          description: View ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Expecting object with `name` field
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
              example:
                name: Some custom view
      responses:
        '200':
          description: Updated View model
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportView'
        '404':
          description: View not found
    delete:
      tags:
        - Reports - Views
      summary: Delete view by ID
      operationId: deleteView
      parameters:
        - name: viewId
          in: path
          description: View ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: View model
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportView'
        '404':
          description: View not found
  /bookings:
    get:
      tags:
        - Booking
      summary: Initial model for new booking
      operationId: getNewBooking
      responses:
        '200':
          description: Prepared model
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingForm'
    post:
      tags:
        - Booking
      summary: Reload booking model with new data
      operationId: reloadBooking
      requestBody:
        description: Expecting booking form model
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingForm'
      responses:
        '200':
          description: Reloaded booking form model
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingForm'
    put:
      tags:
        - Booking
      summary: Create booking
      operationId: createBooking
      requestBody:
        description: Expecting booking form model
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingForm'
      responses:
        '200':
          description: Created booking form model
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingForm'
        '422':
          description: Model with validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingForm'
  /bookings/check-required-fields:
    post:
      tags:
        - Booking
      summary: >-
        Check if all required fields are filled for new booking. Use
        `api/marketplace/bookings/check-required-fields` for marketplace
        requests, `api/wl/bookings/check-required-fields` - for wl.
      operationId: checkRequiredFieldsNewBooking
      requestBody:
        description: Expecting booking form model
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingForm'
      responses:
        '200':
          description: Check result
          content:
            application/json:
              schema:
                type: object
                properties:
                  allRequiredFilled:
                    type: boolean
  '/bookings/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: Booking id
        schema:
          type: string
    get:
      tags:
        - Booking
      summary: Get model for existing booking
      operationId: getBooking
      responses:
        '200':
          description: Booking form model
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingForm'
        '404':
          description: When booking not found
    put:
      tags:
        - Booking
      summary: Update existed booking
      operationId: updateBooking
      requestBody:
        description: Expecting booking form model
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingForm'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingForm'
          description: Updated booking form model
        '404':
          description: When booking not found
        '422':
          description: Model with validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingForm'
  '/bookings/{id}/check-required-fields':
    parameters:
      - name: id
        in: path
        required: true
        description: Booking id
        schema:
          type: string
    post:
      tags:
        - Booking
      summary: >-
        Check if all required fields are filled for existing booking. Use
        `api/marketplace/bookings/{id}/check-required-fields` for marketplace
        requests, `api/wl/bookings/{id}/check-required-fields` - for wl,
        `api/booking-view/bookings/{id}/check-required-fields` - for booking
        view
      operationId: checkRequiredFieldsExistingBooking
      requestBody:
        description: Expecting booking form model
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingForm'
      responses:
        '200':
          description: Check result
          content:
            application/json:
              schema:
                type: object
                properties:
                  allRequiredFilled:
                    type: boolean
  '/bookings/{id}/settings/tours':
    parameters:
      - name: id
        in: path
        required: true
        description: Booking id
        schema:
          type: string
    get:
      tags:
        - Booking. Settings
      summary: >-
        First request on booking creation. Return tours list available for
        booking. Use `/api/bookings/settings/tours` for new booking. Next
        request - '/bookings/{id}/settings/tour-options'
      operationId: getBookingToursList
      responses:
        '200':
          description: List of tours indexed by their ids
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BookingTour'
  '/bookings/{id}/settings/tour-options':
    parameters:
      - name: id
        in: path
        required: true
        description: Booking id
        schema:
          type: string
      - name: tourId
        in: query
        required: true
        description: Tour id
        schema:
          type: string
      - name: agencyId
        in: query
        description: Agency id. Use in case of booking for own tour
        schema:
          type: integer
    get:
      tags:
        - Booking. Settings
      summary: >-
        Return tour options list available for booking. Use
        `/api/bookings/settings/tour-options` for new booking. Next request -
        '/bookings/{id}/settings/dates'
      operationId: getBookingTourOptionsList
      responses:
        '200':
          description: List of tour options indexed by their ids
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BookingTourOption'
        '422':
          description: Validation errors list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingHeaderValidator'
  '/bookings/{id}/settings/dates':
    parameters:
      - name: id
        in: path
        required: true
        description: Booking id
        schema:
          type: string
      - name: tourId
        in: query
        required: true
        description: Tour id
        schema:
          type: string
      - name: tourOptionId
        in: query
        required: true
        description: Tour option id
        schema:
          type: integer
      - name: from
        in: query
        description: From date
        schema:
          type: string
      - name: to
        in: query
        description: To date
        schema:
          type: string
      - name: agencyId
        in: query
        description: Agency id. Use in case of booking for own tour
        schema:
          type: integer
    get:
      tags:
        - Booking. Settings
      summary: >-
        Return dates list for booking with availability status. Use
        `/api/bookings/settings/dates` for new booking. Next request -
        '/bookings/{id}/settings/sessions'
      operationId: getBookingDatesList
      responses:
        '200':
          description: List of dates with availability status
          content:
            application/json:
              schema:
                type: array
                description: Array of statuses with dates as keys
                items:
                  type: string
              example:
                '2019-10-05': day_have-bookings
                '2019-10-06': day_available
        '422':
          description: Validation errors list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingHeaderValidator'
  '/bookings/{id}/settings/sessions':
    parameters:
      - name: id
        in: path
        required: true
        description: Booking id
        schema:
          type: string
      - name: tourId
        in: query
        required: true
        description: Tour id
        schema:
          type: string
      - name: tourOptionId
        in: query
        required: true
        description: Tour option id
        schema:
          type: integer
      - name: date
        in: query
        required: true
        description: Date
        schema:
          type: string
      - name: agencyId
        in: query
        description: Agency id. Use in case of booking for own tour
        schema:
          type: integer
    get:
      tags:
        - Booking. Settings
      summary: >-
        Return sessions list for booking. Use `/api/bookings/settings/sessions`
        for new booking. Next request - '/bookings/{id}/settings/booking'
      operationId: getBookingSessionsList
      responses:
        '200':
          description: List of sessions available for booking
          content:
            application/json:
              schema:
                type: array
                description: Array of sessions
                items:
                  $ref: '#/components/schemas/BookingTimeSession'
        '422':
          description: Validation errors list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingHeaderValidator'
  '/bookings/{id}/settings/booking':
    parameters:
      - name: id
        in: path
        required: true
        description: Booking id
        schema:
          type: string
      - name: tourId
        in: query
        required: true
        description: Tour id
        schema:
          type: string
      - name: tourOptionId
        in: query
        required: true
        description: Tour option id
        schema:
          type: integer
      - name: date
        in: query
        required: true
        description: Date
        schema:
          type: string
      - name: scheduleId
        in: query
        required: true
        description: Schedule id
        schema:
          type: integer
      - name: agencyId
        in: query
        description: Agency id. Use in case of booking for own tour
        schema:
          type: integer
    get:
      tags:
        - Booking. Settings
      summary: >-
        Return booking with loaded default values. Use
        `/api/bookings/settings/booking` for new booking.
        Next request - '/bookings/{id}/settings/agent-fields-config' (if
        supplier changed agency id),
         '/bookings/{id}/settings/pickup-place-config' (on pick-up location changing/selecting)
         or '/bookings/{id}/settings/drop-off-place-config' (on drop-off location changing/selecting)
      operationId: getBookingInitialSettings
      responses:
        '200':
          description: List of sessions available for booking
          content:
            application/json:
              schema:
                type: array
                description: Array of sessions
                items:
                  $ref: '#/components/schemas/Booking'
        '422':
          description: Validation errors list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingHeaderValidator'
  '/bookings/{id}/settings/agent-fields-config':
    parameters:
      - name: id
        in: path
        required: true
        description: Booking id
        schema:
          type: string
      - name: tourId
        in: query
        required: true
        description: Tour id
        schema:
          type: string
      - name: tourOptionId
        in: query
        required: true
        description: Tour option id
        schema:
          type: integer
      - name: agencyId
        in: query
        description: Agency id. Use in case of booking for own tour
        schema:
          type: integer
    get:
      tags:
        - Booking. Settings
      summary: >-
        Return booking fields config for specified agent. Use
        `/api/bookings/settings/agent-fields-config` for new booking
      operationId: getBookingAgentFieldsConfig
      responses:
        '200':
          description: Booking fields config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingFieldsConfig'
        '422':
          description: Validation errors list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingHeaderValidator'
  '/bookings/{id}/settings/pickup-place-config':
    parameters:
      - name: id
        in: path
        required: true
        description: Booking id
        schema:
          type: string
      - name: tourId
        in: query
        required: true
        description: Tour id
        schema:
          type: string
      - name: tourOptionId
        in: query
        required: true
        description: Tour option id
        schema:
          type: integer
      - name: date
        in: query
        required: true
        description: Date
        schema:
          type: string
      - name: scheduleId
        in: query
        required: true
        description: Schedule id
        schema:
          type: integer
      - name: agencyId
        in: query
        description: Agency id. Use in case of booking for own tour
        schema:
          type: integer
      - name: building_id
        in: query
        description: Pick-up location id. Required if buildingName empty
        schema:
          type: integer
      - name: buildingName
        in: query
        description: Pick-up location name. Required if building_id empty
        schema:
          type: string
      - name: area_id
        in: query
        description: Pick-up area id. Required if area available and areaName empty
        schema:
          type: integer
      - name: areaName
        in: query
        description: Pick-up location name. Required if area available and area_id empty
        schema:
          type: string
    get:
      tags:
        - Booking. Settings
      summary: >-
        Return booking pick-up place time and prices. Use
        `/api/bookings/settings/pickup-place-config` for new booking
      operationId: getBookingPickupPlaceConfig
      responses:
        '200':
          description: Booking pick-up place config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingPickupPlaceConfig'
        '422':
          description: Validation errors list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingPlaceValidator'
  '/bookings/{id}/settings/drop-off-place-config':
    parameters:
      - name: id
        in: path
        required: true
        description: Booking id
        schema:
          type: string
      - name: tourId
        in: query
        required: true
        description: Tour id
        schema:
          type: string
      - name: tourOptionId
        in: query
        required: true
        description: Tour option id
        schema:
          type: integer
      - name: date
        in: query
        required: true
        description: Date
        schema:
          type: string
      - name: scheduleId
        in: query
        required: true
        description: Schedule id
        schema:
          type: integer
      - name: agencyId
        in: query
        description: Agency id. Use in case of booking for own tour
        schema:
          type: integer
      - name: building_id
        in: query
        description: Drop-off location id. Required if buildingName empty
        schema:
          type: integer
      - name: buildingName
        in: query
        description: Drop-off location name. Required if building_id empty
        schema:
          type: string
    get:
      tags:
        - Booking. Settings
      summary: >-
        Return booking drop-off place time and prices. Use
        `/api/bookings/settings/drop-off-place-config` for new booking
      operationId: getBookingDropOffPlaceConfig
      responses:
        '200':
          description: Booking drop-off place config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingDropOffPlaceConfig'
        '422':
          description: Validation errors list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingPlaceValidator'
  /calendar/views/booking:
    parameters:
      - name: sort_by
        in: query
        required: true
        description: Sort type
        schema:
          $ref: '#/components/schemas/BookingViewSortType'
      - name: viewType
        in: query
        description: View type
        schema:
          $ref: '#/components/schemas/BookingViewType'
      - name: page
        in: query
        description: Pagination page to request. Starting from 1
        schema:
          type: integer
      - name: tour_id
        in: query
        description: Tour id to filter
        schema:
          type: string
      - name: booking_status
        in: query
        description: Booking status to filter
        schema:
          $ref: '#/components/schemas/BookingViewBookingStatus'
      - name: payment_status
        in: query
        description: Payment status to filter
        schema:
          $ref: '#/components/schemas/BookingViewPaymentStatus'
      - name: agency_id
        in: query
        description: Agency id to filter
        schema:
          type: integer
      - name: category_id
        in: query
        description: Tour category to filter
        schema:
          type: integer
      - name: filter_by
        in: query
        description: >-
          Filter type for From/To Date filtering. Param "date_from" or "date_to"
          must be specified
        schema:
          $ref: '#/components/schemas/BookingViewFilterBy'
      - name: date_from
        in: query
        description: Filter From Date for bookings. Param "filter_by" must be specified
        schema:
          type: string
      - name: date_to
        in: query
        description: Filter To Date for bookings. Param "filter_by" must be specified
        schema:
          type: string
      - name: booked_by
        in: query
        description: Filter by bookgin source field
        schema:
          type: string
      - name: search
        in: query
        description: 'Filter by bookgin Id, customer name or voucher'
        schema:
          type: string
    get:
      tags:
        - Booking View
      summary: Return paginated list of company bookgins
      operationId: getBookingViewList
      responses:
        '200':
          description: Bookings paginated list
          headers:
            X-Pagination-Current-Page:
              schema:
                type: integer
              description: Current page number. Starts from 1.
            X-Pagination-Page-Count:
              schema:
                type: integer
              description: Total pages count.
            X-Pagination-Per-Page:
              schema:
                type: integer
              description: Items count per page.
            X-Pagination-Total-Count:
              schema:
                type: integer
              description: Total items count.
          content:
            application/json:
              schema:
                type: object
                properties:
                  bookings:
                    type: array
                    description: Bookings from requeste page
                    items:
                      $ref: '#/components/schemas/BookingViewBooking'
                  columns:
                    type: array
                    description: Booking columns visibility
                    items:
                      $ref: '#/components/schemas/BookingViewBookingColumns'
  /calendar/sessions/comments:
    post:
      parameters:
        - name: date
          in: query
          required: true
          description: Session date
          schema:
            type: string
        - name: schedule_id
          in: query
          required: true
          description: Session schedule id
          schema:
            type: integer
      tags:
        - Calendar. Session messages
      summary: Send message for session
      operationId: addSessionMessage
      requestBody:
        description: Expecting message models
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                messages:
                  type: array
                  items:
                    type: object
                    description: Required one of properties. message or image
                    properties:
                      message:
                        type: string
                        description: Text message
                      image:
                        type: integer
                        description: Image attachment id
              example:
                messages:
                  - message: some text
                  - image: 384
      responses:
        '200':
          description: Created message models
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: Properties message or image with imageUrl will be presented
                  properties:
                    id:
                      type: integer
                    session_id:
                      type: integer
                    created_by:
                      type: integer
                      description: Company user id
                    createdBy:
                      type: object
                      description: Creator object
                      properties:
                        avatarUrl:
                          type: string
                        fullName:
                          type: string
                        initials:
                          type: string
                        roleColor:
                          type: string
                    created_at:
                      type: integer
                      description: Creation timestamp
                    tour_schedule_price_group_id:
                      type: integer
                    message:
                      type: string
                      description: Text message
                    image:
                      type: integer
                      description: Image attachment id
                    imageUrl:
                      type: string
                example:
                  - id: 354
                    session_id: 654
                    created_by: 8
                    createdBy:
                      avatarUrl: ''
                      fullName: Me
                      initials: ES
                      roleColor: '#cccccc'
                    tour_schedule_price_group_id: null
                    message: some text
                  - id: 354
                    session_id: 654
                    created_by: 8
                    createdBy:
                      avatarUrl: ''
                      fullName: Me
                      initials: ES
                      roleColor: '#cccccc'
                    tour_schedule_price_group_id: null
                    image: 384
                    imageUrl: >-
                      /attachments/2019-07-03/959618fe579d48d76cb565dffa930866.jpg
        '422':
          description: Message models with errors
  /calendar/sessions/comments/upload:
    post:
      tags:
        - Calendar. Session messages
      summary: Upload image for session message
      operationId: uploadSessionMessageImage
      requestBody:
        description: Expecting file data
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: Uploading file binary
      responses:
        '200':
          description: Successfull uploading
          content:
            application/json:
              schema:
                type: object
                properties:
                  attachment_id:
                    type: integer
                    description: To use as image field in message
                  name:
                    type: string
                    description: Uploaded file name
                  url:
                    type: string
                    description: Attachment url. To use as imageUrl field in message
        '422':
          description: Failed to upload file
          content:
            application/json:
              schema:
                type: string
                description: Error text
  /employees/:
    post:
      tags:
        - Employees
      summary: Get paginated users list with filtering
      operationId: getEmployees
      requestBody:
        description: Expecting file to upload
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                itemsCount:
                  type: integer
                  description: 'required users count in page, 20 by default'
                statuses:
                  type: array
                  items:
                    type: integer
                roles:
                  type: array
                  items:
                    type: integer
                search:
                  type: string
              example:
                page: 1
                statuses:
                  - 0
                  - 1
                roles:
                  - 34
                  - 65
      responses:
        '200':
          description: Users list
          headers:
            X-Pagination-Current-Page:
              schema:
                type: integer
              description: Current page number. Starts from 0.
            X-Pagination-Page-Count:
              schema:
                type: integer
              description: Total pages count.
            X-Pagination-Per-Page:
              schema:
                type: integer
              description: Items count per page.
            X-Pagination-Total-Count:
              schema:
                type: integer
              description: Total items count.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: User model
  /employees/filter:
    get:
      tags:
        - Employees
      summary: Get employees filter data
      operationId: getEmployeesFilterValues
      responses:
        '200':
          description: Filter values
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuses:
                    type: array
                    items:
                      type: string
                  roles:
                    type: array
                    items:
                      type: string
  '/employees/{userId}/documents':
    parameters:
      - name: userId
        in: path
        description: Company user id
        required: true
        schema:
          type: integer
    get:
      tags:
        - Employees. Documents
      summary: List of current user documents
      operationId: getCompanyUserDocuments
      responses:
        '200':
          description: Documents list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyUserDocument'
        '400':
          description: When current company or company user not found
    post:
      tags:
        - Employees. Documents
      summary: Uploading new document
      operationId: uploadCompanyUserDocument
      requestBody:
        description: Expecting file to upload
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: File to upload
              required:
                - file
      responses:
        '200':
          description: Attachment model for uploaded file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyUserDocument'
        '422':
          description: Uploading error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errror:
                    type: string
                    description: Error text
  '/employees/{userId}/documents/{id}':
    parameters:
      - name: userId
        in: path
        description: Company user id
        required: true
        schema:
          type: integer
      - name: id
        in: path
        description: Document id
        required: true
        schema:
          type: integer
    get:
      tags:
        - Employees. Documents
      summary: File content to view
      operationId: getCompanyUserDocumentToView
      responses:
        '200':
          description: File content
        '404':
          description: When document or company user not found
    put:
      tags:
        - Employees. Documents
      summary: Update company user document name
      operationId: updateCompanyUserDocument
      requestBody:
        description: Expecting name attribute
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Document name
              required:
                - name
      responses:
        '200':
          description: Updated model
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyUserDocument'
        '404':
          description: When document or company user not found
        '422':
          description: Validated model with errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyUserDocument'
    delete:
      tags:
        - Employees. Documents
      summary: Delete company user document
      operationId: deleteCompanyUserDocument
      responses:
        '200':
          description: Deletion successfull
        '404':
          description: When document or company user not found
        '422':
          description: Deletion failed
  '/employees/{userId}/documents/{id}/download':
    parameters:
      - name: userId
        in: path
        description: Company user id
        required: true
        schema:
          type: integer
      - name: id
        in: path
        description: Document id
        required: true
        schema:
          type: integer
    get:
      tags:
        - Employees. Documents
      summary: File content to download
      operationId: getCompanyUserDocumentToDownload
      responses:
        '200':
          description: File content
        '404':
          description: When document or company user not found
  /company/invoices:
    get:
      tags:
        - Invoices
      summary: Paginated list of company invoices
      operationId: getInvoicesList
      parameters:
        - name: page
          in: query
          description: page to get
          schema:
            type: integer
        - name: itemsCount
          in: query
          description: items count on a page
          schema:
            type: integer
        - name: search
          in: query
          description: string to search among invoice number and invoice agent name
          schema:
            type: string
        - name: date_from
          in: query
          description: date to search from
          schema:
            type: string
        - name: date_to
          in: query
          description: date to search to
          schema:
            type: string
        - name: status
          in: query
          description: Invoice status to filter
          schema:
            type: integer
      responses:
        '200':
          description: Invoice models
          headers:
            X-Pagination-Current-Page:
              schema:
                type: integer
              description: Current page number. Starts from 0.
            X-Pagination-Page-Count:
              schema:
                type: integer
              description: Total pages count.
            X-Pagination-Per-Page:
              schema:
                type: integer
              description: Items count per page.
            X-Pagination-Total-Count:
              schema:
                type: integer
              description: Total items count.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceFromList'
        '404':
          description: When active company not found
  /company/invoices/totals:
    get:
      tags:
        - Invoices
      summary: Total values for filtered invoices
      operationId: getInvoicesTotals
      parameters:
        - name: search
          in: query
          description: string to search among invoice number and invoice agent name
          schema:
            type: string
        - name: date_from
          in: query
          description: date to search from
          schema:
            type: string
        - name: date_to
          in: query
          description: date to search to
          schema:
            type: string
        - name: status
          in: query
          description: Invoice status to filter
          schema:
            type: integer
      responses:
        '200':
          description: Total values
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent:
                    type: number
                  paid:
                    type: number
                  overdue:
                    type: number
                  allCount:
                    type: number
        '404':
          description: When active company not found
  /company/invoices/status-counts:
    get:
      tags:
        - Invoices
      summary: Total counts by statuses for filtered invoices
      operationId: getInvoicesStatusCounts
      parameters:
        - name: search
          in: query
          description: string to search among invoice number and invoice agent name
          schema:
            type: string
        - name: date_from
          in: query
          description: date to search from
          schema:
            type: string
        - name: date_to
          in: query
          description: date to search to
          schema:
            type: string
      responses:
        '200':
          description: Total values
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    status:
                      type: integer
                    name:
                      type: string
                    count:
                      type: integer
        '404':
          description: When active company not found
  '/company/invoices/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: Invoice id
        schema:
          type: integer
    get:
      tags:
        - Invoice
      summary: Get model for existing invoice
      operationId: getInvoice
      responses:
        '200':
          description: Invoice model
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '404':
          description: When invoice not found
    put:
      tags:
        - Invoice
      summary: Update existed invoice
      operationId: updateInvoice
      requestBody:
        description: Expecting invoice form model
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Updated invoice form model
        '404':
          description: When invoice not found
        '422':
          description: Model with validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
  '/company/invoices/{id}/send':
    parameters:
      - name: id
        in: path
        required: true
        description: Invoice id
        schema:
          type: integer
      - name: type
        in: query
        required: true
        description: 'Sending type (0 - send, 1 - resend)'
        schema:
          type: integer
    get:
      tags:
        - Invoice
      summary: Invoice email send form initial data
      operationId: sendInvoiceFormInitial
      responses:
        '200':
          description: Invoice email send form initial data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceEmailSendForm'
        '404':
          description: When invoice not found
    post:
      tags:
        - Invoice
      summary: Validating invoice email send form
      operationId: sendInvoiceFormValidation
      requestBody:
        description: Expecting invoice email send form
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceEmailSendForm'
      responses:
        '200':
          description: Validatin successed. Validated invoice email send form
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceEmailSendForm'
        '404':
          description: When invoice not found
        '422':
          description: Validatin failed. Validated invoice email send form with errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceEmailSendFormError'
    put:
      tags:
        - Invoice
      summary: Sending invoice
      operationId: sendInvoice
      requestBody:
        description: Expecting invoice email send form or nothing
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceEmailSendForm'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: boolean
          description: Whether operation successful or not
        '404':
          description: When invoice not found
  '/company/invoices/{id}/cancel':
    parameters:
      - name: id
        in: path
        required: true
        description: Invoice id
        schema:
          type: integer
    put:
      tags:
        - Invoice
      summary: Setting invoice void
      operationId: setVoidInvoice
      responses:
        '200':
          content:
            application/json:
              schema:
                type: boolean
          description: Whether operation successful or not
        '404':
          description: When invoice not found
  '/company/invoices/{invoiceId}/payments':
    parameters:
      - name: invoiceId
        in: path
        required: true
        description: Invoice id
        schema:
          type: integer
    get:
      tags:
        - Invoice. Payments
      summary: Invoice payments list
      operationId: getInvoicePayments
      responses:
        '200':
          description: Invoice payments list
          content:
            application/json:
              schema:
                type: array
                description: Items contain `InvoicePayment` or `BookingPayment` models
                items:
                  type: object
        '404':
          description: When invoice not found
    post:
      tags:
        - Invoice. Payments
      summary: Create invoice payment
      operationId: createInvoicePayment
      responses:
        '200':
          description: Created invoice payment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePaymentEditModel'
        '404':
          description: When invoice not found
        '422':
          description: Model with validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePaymentEditModel'
  '/company/invoices/{invoiceId}/payments/{id}':
    parameters:
      - name: invoiceId
        in: path
        required: true
        description: Invoice id
        schema:
          type: integer
      - name: id
        in: path
        required: true
        description: Invoice payment id
        schema:
          type: integer
    get:
      tags:
        - Invoice. Payments
      summary: View invoice payment
      operationId: getInvoicePayment
      responses:
        '200':
          description: Invoice payment model
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePaymentEditModel'
        '404':
          description: When invoice or invoice payment not found
    put:
      tags:
        - Invoice. Payments
      summary: Update invoice payment
      operationId: updateInvoicePayment
      responses:
        '200':
          description: Updated invoice payment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePaymentEditModel'
        '404':
          description: When invoice or invoice payment not found
        '422':
          description: Model with validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePaymentEditModel'
  '/company/invoices/{invoiceId}/payments/{id}/split':
    parameters:
      - name: invoiceId
        in: path
        required: true
        description: Invoice id
        schema:
          type: integer
      - name: id
        in: path
        required: true
        description: Invoice payment id
        schema:
          type: integer
    post:
      tags:
        - Invoice. Payments
      summary: Splitting invoice payment
      operationId: splitInvoicePayment
      requestBody:
        description: Expecting payment attributes
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                childs:
                  type: array
                  items:
                    type: object
                    properties:
                      invoice_id:
                        type: integer
                      amount:
                        type: string
              required:
                - childs
      responses:
        '200':
          description: Splitted invoice payment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePaymentEditModel'
        '404':
          description: When invoice or invoice payment not found
        '422':
          description: Model with validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePaymentEditModel'
  '/company/invoices/{invoiceId}/payments/{id}/set-status':
    parameters:
      - name: invoiceId
        in: path
        required: true
        description: Invoice id
        schema:
          type: integer
      - name: id
        in: path
        required: true
        description: Invoice payment id
        schema:
          type: integer
    post:
      tags:
        - Invoice. Payments
      summary: Set invoice payment status
      operationId: setInvoicePaymentStatus
      requestBody:
        description: Expecting payment status
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: '0 - not verified, 1 - verified'
              required:
                - status
      responses:
        '200':
          description: Set status succeed
        '404':
[...]
